.calendar-button__container {
  order: 999;
  margin-left: auto;
  position: relative;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.calendar-button {
  font-family: 'Manrope', sans-serif;
  //   align-self: flex-end;
  //   width: 150px;
  padding: 3px 5px;
  //   margin-left: auto;
  //   width: 100%;
}

.calendar-container__body {
  transition: translateY 1s ease-in-out;
  font-family: 'Manrope', sans-serif;
  width: 250px;
  padding: 3px 5px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f8f8f8;
  //   display: none;
  //   z-index: 1;
}

.calendar-container.hidden {
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.calendar-container.open {
  //   display: block;
}

.calendar-container {
  transition: all 0.5s ease-in-out;
  z-index: 1;
  opacity: 1;

  position: absolute;
  right: 0;
  top: 30;
  display: block;
  //   position: absolute;
  overflow: hidden;
  /* font-family: "Manrope", sans-serif;
  width: 250px;
  padding: 3px 5px;
  margin: 0 auto;
  border-radius: 10px; */
  //   background-color: #f70000;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header button {
  font-size: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header__text {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

body.dark .calendar-header__text{
  color: $text-color-light;
}

.calendar-header button:hover {
  background-color: #008cff;
}

.calendar-header input {
  font-size: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar-table {
  width: 100%;
  border-collapse: collapse;
}

#calendar-table th,
#calendar-table td {
  text-align: center;
  padding: 5px;
}

.calendar-table th {
  font-weight: bold;
  background-color: #f5f5f5;
  color: rgba(60, 60, 67, 0.3);
}

.calendar-table td {
  /* border: 1px solid #ccc; */
}

.calendar-table .empty-cell {
  background-color: #f5f5f5;
}

.calendar-table .today {
  color: #f5f5f5;
  background-color: #4440f6;
}

.calendar-date {
  font-weight: 500;
  font-size: 17px;
  padding-right: 1px;
  padding-left: 1px;
  display: block;
  width: 28px;
  height: 28px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 50;
  cursor: pointer;
}

.calendar-date.active {
  background-color: #ff0000;
  border-radius: 50%;
  color: #333;
}
.calendar-date:hover {
  background-color: #008cff;
  color: #f5f5f5;
}
