.calendar-container {
  display: none;
  font-family: Arial, sans-serif;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #ae0909;
}

.calendar-header input {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calendar-table {
  width: 100%;
  border-collapse: collapse;
}

#calendar-table th,
#calendar-table td {
  text-align: center;
  padding: 5px;
}

.calendar-table th {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f5f5f5;
}

.calendar-table td {
  border: 1px solid #ccc;
}

.calendar-table .empty-cell {
  background-color: #f5f5f5;
}

.calendar-table .today {
  background-color: #ffffcc;
}

.calendar-date.active {
  background-color: #f5f5f5;
  border-radius: 50%;
  color: #333;
}
.calendar-date:hover {
  background-color: #f5f5f5;
}
