.categories {
  display: flex;
<<<<<<< Updated upstream
  // width: 742px;
  height: 31px;
=======
  position: relative;
  // width: 100%;
  // height: 31px;

>>>>>>> Stashed changes
  gap: 16px;
}
.category_btn {
  height: 31px;
  border-radius: 20px;
  padding: 0 21px;
  font-size: 12px;
}
