.categories {
  display: flex;
  // width: 742px;
  height: 31px;
  gap: 16px;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 48px;
  }
  @include desktop {
    margin-bottom: 60px;
  }
}

.category_btn {
  height: 31px;
  border-radius: 20px;
  padding: 0 21px;
  font-size: 12px;
}
.select_btn {
  height: 31px;
  border-radius: 20px;
  padding: 0 21px;
  font-size: 12px;
}
