.main-page {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1280px;
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 395px;
  height: 675px;
}

.news-card img {
  width: 395px;
  height: 395px;
}

.news-card__category {
  position: absolute;
  left: 0;
  top: 40px;

  min-width: 112px;
  height: 24px;
  background: #4440f6b2;
  border-radius: 0px 4px 4px 0px;
  padding: 4px 8px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.news-card__favorite-btn {
  position: absolute;
  left: 257px;
  top: 355px;
  width: 126px;
  height: 28px;
  background: $bgn-color-light;
  border-radius: 20px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;

  color: $text-color-light;
}

.news-card__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.01em;

  color: $text-color-light;
}

.news-card__description {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;

  color: $text-color-light;
}

.news-card__date {
  font-size: 14px;
  margin: 10px;
}

.news-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.news-card__actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.news-card__actions button:first-child {
  margin-left: 0;
}

.news-card__actions button:hover {
  text-decoration: underline;
}
// ______________________________________________--
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1280px;
  }
}

.page__header {
  background-color: #f2f2f2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  @include tablet {
    flex-grow: 0;
  }
}

.header__item:not(:last-child) {
  margin-right: 69px;
}

.nav__list {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
  }
}
.nav__link {
  padding: 5px 0px;

  display: inline-block;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.388;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $decoration-color;
  }
}
.nav__link-current {
  color: $decoration-color;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $decoration-color;
    border-radius: 2px;
  }
}

.logo {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $decoration-color;
  }
  @include desktop {
    font-size: 26px;
  }
}
.nav__logo {
  padding: 24px 0px;
  @include tablet {
    margin-right: 98px;
    padding: 28px 0px;
  }
  @include desktop {
    margin-right: 102px;
  }
}

/* -----search---- */
.search-box {
  width: 288px;
}
.search-form {
  position: relative;
  top: 0;
  left: 0;
  width: 288px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid #111321;
  // box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  // transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;

  &:focus,
  &:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  position: absolute;
  top: 5px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 239px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.search-button {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;

  & svg {
    width: 20px;
    height: 20px;
    fill: #111321;
  }
}

/* ------theme--- */
.theme-box {
  width: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  color: $alt-text-color;
}

.theme-switcher {
  position: relative;
}

.theme-switcher input[type='checkbox'] {
  display: none;
}

.theme-switcher label {
  display: block;
  width: 40px;
  height: 20px;
  background-color: $bgn-color-light;
  border-radius: 20px;
  position: relative;
  border: 0.604701px solid #4b48db;
  cursor: pointer;
}

.theme-switcher label:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: $decoration-color-dark;
  border-radius: 50;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.2s;
}

.theme-switcher input[type='checkbox']:checked + label {
  background-color: $decoration-color-dark;
}

.theme-switcher input[type='checkbox']:checked + label:after {
  transform: translateX(20px);
  background-color: $bgn-color-light;
}
// /-------------mobile-menu-------------------------/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
  @include tablet {
    display: none;
  }
  &:hover,
  &:focus {
    color: $decoration-color;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  background-color: #fff;
  z-index: 999;
  overflow: auto;
  transform: translate(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translate(0);
}
.mobile-menu-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 25px;
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: #212121;
  &:hover,
  &:focus {
    color: $decoration-color;
  }
}
.mobile-menu__link-curent {
  color: #2196f3;
}
.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
  margin-bottom: 64px;
  &:hover,
  &:focus {
    color: $decoration-color;
  }
}
