a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

body{
  transition: all 0.6s ease;
}

body.dark-theme {
  background: $bgn-color-dark;
  color: #f4f4f4;
}


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    min-width: 768px;
  }
  @include desktop {
    width: 1280px;
  }
}

.page__header {
  background-color: $bgn-color-light;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  //  transition: all 0.6s ease;
  position: fixed;
  z-index: 1;
    top: 0;
    width: 100%;
}

body.dark-theme .page__header{
  border-bottom: 1px solid rgba(244, 244, 244, 0.2)
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  @include tablet {
    flex-grow: 0;
  }
}

.header__item:not(:last-child) {
  @include tablet {
    margin-right: 44px;
  }
  @include desktop {
    margin-right: 69px;
  }
}

.nav__list {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
  @include desktop {
  }
}
.nav__link {
  padding: 5px 0px;

  display: inline-block;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.388;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $decoration-color;
  }
}
.nav__link-current {
  // color: $decoration-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $decoration-color;
    border-radius: 2px;
  }
}

.dark-theme .nav__link-current{
  color: $text-color-dark;
}

.logo {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.36;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 14px 0px;
  &:hover,
  &:focus {
    color: $decoration-color;
  }
  @include tablet {
    font-size: 32px;
    margin-right: 48px;
    padding: 28px 0px;
  }
  @include desktop {
    font-size: 42px;
    margin-right: 102px;
  }
}

/* -----search---- */
.search-box {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-right: 24px;
  }
}
.search-form {
  height: 31px;
  background-color: #0000;
  margin-left: auto;
  display: flex;
}

@include tablet {
  .search-form {
    border: 1px solid $bgn-color-dark;
    width: 213px;
    border-radius: 20px;
  }
}

@include desktop {
  .search-form {
    width: 288px;
  }
}

.dark-theme .search-form{
  background:$bgn-color-dark ;
  // border: 1px solid $text-color-dark;
@include tablet{
  border: 1px solid $text-color-dark
}

}

.dark-theme .search-form:hover{
  background:$bgn-color-dark ;
  border: 1px solid $text-color-dark;

}



.search-form input {
  letter-spacing: 0.02em;
  color: $bgn-color-dark;
  background: none;
  border: none;
  outline: none;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 1.75;
}

.search-form input:focus {
  color: $bgn-color-dark;
}

.dark-theme .search-form input:focus {
  color:$alt-text-color;
  background: transparent;
}


@media screen and (max-width: 767px) {
  .search-form input {
    width: 0;
    padding: 0;
    transition: all 0.3s;
  }

  .search-form:hover {
    border: 1px solid $bgn-color-dark;
    border-radius: 20px;
    margin-top: 1px;
  }

  .search-form:hover input {
    width: 123px;
    padding: 8px 0;
  }

  .search-form:hover .search-button {
    padding: 6px 16px 5px 12px;
  }

  .search-button {
    cursor: pointer;
    background-color: inherit;
    box-shadow: none;
    border: none;
    color: $bgn-color-dark;
    transition: all 0.3s;
  }
}
.search-button {
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: none;
}


@include tablet {
  .search-form input {
    width: 90%;
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.7;
  }

  .search-button {
    padding: 6px 19px 8px 14px;
  }
}

.submit-button {
  fill: $bgn-color-dark;
}

.dark-theme .search-button svg{
  fill:$text-color-dark
}

/* ------theme--- */
.theme-box {
  display: none;
  @include tablet {
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }
}

.theme-text.light {
  color: $decoration-color;
}

.theme-switcher {
  position: relative;
}

.theme-switcher input[type="checkbox"] {
  display: none;
}

.theme-switcher label {
  display: block;
  width: 40px;
  height: 20px;
  background-color: $bgn-color-light;
  border-radius: 20px;
  position: relative;
  border: 0.604701px solid #4b48db;
  cursor: pointer;
}

.theme-switcher label:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: $decoration-color-dark;
  border-radius: 50;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.2s;
}

.theme-switcher input[type="checkbox"]:checked + label {
  background-color: $decoration-color-dark;
  border: 0.604701px solid $bgn-color-light;
}

.theme-switcher input[type="checkbox"]:checked + label:after {
  transform: translateX(20px);
  background-color: $bgn-color-light;
}
// тема дестоп іконки-----------------------
.theme__dark,
.theme__light {
  display: none;
}
@media screen and (min-width: 1280px) {
  .theme__svg {
    display: none;
  }
  .theme__dark {
    color: $alt-text-color;
    margin: 0;
    font-size: 18px;
    line-height: 1.3;
    display: block;
  }
  .theme__light {
    font-size: 18px;
    line-height: 1.3;
    display: block;
  }
  // ---------------навішувати при зміні теми на theme__light theme__dark----
  .opacityForDark {
    opacity: 0.4;
  }
}
.theme__light {
  color: $decoration-color-dark;
}
.sun {
  stroke: $decoration-color-dark;
}
.moon {
  stroke: $alt-text-color-dark;
}

body.dark-theme .theme__light {
 color:  $alt-text-color-dark;
}

body.dark-theme .theme__dark {
  color: $decoration-color-dark;
}

body.dark-theme .theme__svg.moon{
  stroke: $decoration-color-dark;
}

body.dark-theme .theme__svg.sun{
  stroke: $alt-text-color-dark;
}

// /-------------mobile-menu-------------------------/
.logo_menu_wrap {
  width: 100%;
  display: flex;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
  @include tablet {
    display: none;
  }
  &:hover,
  &:focus {
    color: $decoration-color;
  }
}

.dark-theme .menu-toggle{
 color: $alt-text-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px 16px 18px 16px;
  background-color: #fff;
  z-index: 999;
  overflow: auto;
  // transform: translate(0px, -100%);
  transition: transform 250ms ease-in-out;
  transform: translateX(0px) rotate(0) translateY(-100%);
}


.dark-theme .menu-container{
  background: $bgn-color-dark;
}

.menu-container.is-open {
  // transform: translate(0px, 0%);
  transform: translateX(0) rotate(0) translateY(0);
}
.mobile-menu-wrap {
  height: 100vw;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

// ______________мобільне меню___посилання сторінок___
.navbar-mobile__icon-wrapper {
  width: 32px;
  height: 32px;
  background-color: $decoration-color;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-mobile__icon-wrapper--current {
  border: 1px solid #f4f4f4;
}

.navbar-mobile {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.navbar-mobile__link {
  align-items: center;
  gap: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  display: flex;
  position: relative;
}

.navbar-mobile__link--current {
  height: 44px;
  width: 100%;
  background-color: $decoration-color;
  box-shadow: 0 0 0 100vmax $decoration-color;
  clip-path: inset(0 -100vmax);
  color: #f4f4f4;
}

.current-page__icon {
  display: none;
  position: absolute;
  right: -1px;
  transform: rotate(270deg);
}
.add-icon{
  display: block;
}

.navbar-mobile__icon {
  fill: none;
  stroke: #f4f4f4;
}
svg {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// мобільна тема-----
.theme-box_2 {
  display: flex;
  gap: 8px;
}
.theme-switcher2 {
  position: absolute;
  top: 10px;
  left: 10px;
}



body.dark-theme header {
  background: $bgn-color-dark;
  color: #f4f4f4;
}

body.dark-theme .theme-text {
  color: $decoration-color-dark;
}

.dark-theme .theme__dark {
  color: $decoration-color-dark;
}

.dark-theme .theme-text.light {
  color: $alt-text-color;
}


input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50 $bgn-color-light; 
  -webkit-text-fill-color: $text-color-light; 
    border-top-right-radius :20px;
  border-bottom-right-radius:20px;
}

body.dark-theme input:-webkit-autofill{
  -webkit-box-shadow: inset 0 0 0 50 $bgn-color-dark;
  -webkit-text-fill-color:$alt-text-color-dark ; 
    border-top-right-radius :20px;
  border-bottom-right-radius:20px;
}

