.main-page {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1280px;
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 395px;
  height: 675px;
}

.news-card img {
  width: 395px;
  height: 395px;
}

.news-card__category {
  position: absolute;
  left: 0;
  top: 40px;

  min-width: 112px;
  height: 24px;
  background: #4440f6b2;
  border-radius: 0px 4px 4px 0px;
  padding: 4px 8px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.news-card__favorite-btn {
  position: absolute;
  left: 257px;
  top: 355px;
  width: 126px;
  height: 28px;
  background: $bgn-color-light;
  border-radius: 20px;
  border: none;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;

  color: $text-color-light;
}

.news-card__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.01em;

  color: $text-color-light;
}

.news-card__description {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;

  color: $text-color-light;
}

.news-card__date {
  font-size: 14px;
  margin: 10px;
}

.news-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.news-card__actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.news-card__actions button:first-child {
  margin-left: 0;
}

.news-card__actions button:hover {
  text-decoration: underline;
}

.weather-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 395px;
  height: 675px;
}

