.reading_card{
    background-color: white;
    opacity: 0.4;
}

.text-alredy-read{
    position: absolute;
    left: 267px;
top: 20px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;

color: #00DD73;
}

.svg-checkmark{
    position: absolute;
    left: 356px;
top: 20px;
fill: #00DD73;
}