//  Потім видалити
.news-card__border {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
// ===============================

.read {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 82px;
  @include tablet {
    padding-top: 48px;
    padding-bottom: 100px;
    margin-top: 106px;
  }

  @include desktop {
    padding-top: 60px;
    padding-bottom: 210px;
    margin-top: 114px;
  }
}

.read-item-empty {
  padding-top: 40px;
  @include tablet {
    padding-top: 60px;
  }

  @include desktop {
    padding-top: 100px;
  }
}

.read-item-empty > p {
  text-align: center;
  margin-bottom: 40px;
  // font-family: 'Manrope';
  // font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;

  letter-spacing: -0.01em;
  @include tablet {
    font-size: 40px;
    line-height: 1.38;
  }
}
.read-item-empty > div {
  width: 248px;
  height: 198px;
  margin: 0 auto;
  background-image: url('../images/noNews-mob.png');
  @include tablet {
    width: 560px;
    height: 444px;
    background-image: url('../images/noNews-tab.png');
  }

  @include desktop {
    width: 600px;
    height: 478px;
    background-image: url('../images/noNews-dtop.png');
  }
}

.dark-theme .read,
.dark-theme .read-date,
.dark-theme .read-arrow {
  color: $text-color-dark;
}

.read-item:not(:last-child) {
  margin-bottom: 40px;
  // position: relative;
  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.read-title {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid #929292;
  cursor: pointer;
}

.read-date {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: $text-color-light;
  margin-right: 10px;
}

.read-arrow {
  height: 12px;
  width: 12px;
  border: 2px solid;
  border-color: $text-color-light;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
  // transform: translate(0, 0);
  transition: transform 500ms ease;
}

.read-active .read-arrow {
  transform: rotate(-45deg);
  // transform: translate(50%, 50%);
}

.dark-theme .read-arrow {
  border-color: $text-color-dark;
}

.read-gallery {
  height: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;

  visibility: hidden;
  opacity: 0;
  padding-top: 0;

  transition-property: padding, height, opacity, visibility;
  transition-duration: 700ms, 700ms, 500ms, 500ms;
  transition-timing-function: ease;

  @include tablet {
    justify-self: center;
    justify-content: flex-start;
    gap: 30px;
  }

  @include desktop {
    gap: 32px;
  }
}

.read-active .read-gallery {
  visibility: visible;
  opacity: 1;
  padding-top: 28px;

  @include tablet {
    padding-top: 30px;
  }

  @include desktop {
    padding-top: 40px;
  }
}
