// Light theme

$bgn-color-light: #f4f4f4;
$text-color-light: #111321;
$decoration-color: #4440f6;
$alt-text-color: #a8a8a8;

// Dark theme

$bgn-color-dark: #2e2e2e;
$text-color-dark: #f4f4f4;
$decoration-color-dark: #4440f6;
$alt-text-color-dark: #a8a8a8;

// Colors from hell

$alt-decoration-color: #4440f7;
$footer-rect: #7a7a7a;

// Logo sizes

$desc-logo-size: 42px;
$tab-logo-size: 32px;
$mob-logo-size: 24px;
