<footer class="footer">
  <div class="footer__wraper">
    <div class="footer__logo-wraper">
      <a
        href="https://github.com/DimaKhUkr/project_13_js"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__logo-link"
        ><img src="./images/logo.jpg" alt="" width="64"
      /></a>
      <p class="footer__text">powered by</p>
      <a
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__logo-link"
        ><img src="./images/logo-GoIt.png" alt="GoIt" width="200"
      /></a>
    </div>
    <div class="footer__content">
      <h3 class="footer__title">&lth1&gtLUCKY__TEAM-13&lt/h1&gt</h3>
      <ul class="footer__list">
        <li class="footer__list-link">
          <a
            href="https://github.com/DimaKhUkr"
            target="_blank"
            rel="noopener noreferrer"
            >Dmytro Potapenko</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/KhailoAndrey"
            target="_blank"
            rel="noopener noreferrer"
            >Khailo Andrey</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/TaitanB"
            target="_blank"
            rel="noopener noreferrer"
            >Tetiana Bartoshyk</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/Ol900ivas"
            target="_blank"
            rel="noopener noreferrer"
            >Olga Lorenz</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/SaidBo"
            target="_blank"
            rel="noopener noreferrer"
            >Said Bobokalonov</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/Omenat83"
            target="_blank"
            rel="noopener noreferrer"
            >Maryna Korzun</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/kravets-julia"
            target="_blank"
            rel="noopener noreferrer"
            >Julia Zavalii</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/Mariya-Litvin"
            target="_blank"
            rel="noopener noreferrer"
            >Mariya Litvin</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/IvanBrenin"
            target="_blank"
            rel="noopener noreferrer"
            >Ivan Brenin</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/AlexMakhony"
            target="_blank"
            rel="noopener noreferrer"
            >Alex Makhovskyi</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/NikaLunina"
            target="_blank"
            rel="noopener noreferrer"
            >Nika Lunina</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/yriy-ogorodnik"
            target="_blank"
            rel="noopener noreferrer"
            >Yriy Ogorodnik</a
          >
        </li>
        <li class="footer__list-link">
          <a
            href="https://github.com/Yana-moon"
            target="_blank"
            rel="noopener noreferrer"
            >Yana Kalashnyk</a
          >
        </li>
      </ul>
    </div>
    <p class="footer__text copy">&copy 2023</p>
  </div>
</footer>
