<header class="page__header">
  <div class="container flex__container">
    <nav class="nav">
      <a class="logo nav__logo" href="./index.html">News</a>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <ul class="nav__list">
        <li class="nav__item header__item">
          <a class="nav__link nav__link-current" href="./index.html">Home</a>
        </li>
        <li class="nav__item header__item">
          <a class="nav__link" href="#">Favorite</a>
        </li>
        <li class="nav__item header__item">
          <a class="nav__link" href="#">Read</a>
        </li>
      </ul>
    </nav>
    <div class="search-box">
      <form class="search-form ">
        <input type="search" value="" placeholder="Search" class="search-input">
        <button type="submit" class="search-button">
          <svg class="submit-button">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
          </svg>
        </button>
        
      </form>
      
      <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
        <symbol id="search" viewBox="0 0 32 32">
          <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
        </symbol>
        
    </div>
    <div class="theme-box">
      <div class="theme-text">Light</div>
      <div class="theme-switcher">
        <input type="checkbox" id="theme-switcher">
        <label for="theme-switcher"></label>
      </div>
      <div class="theme-text">Dark</div>
    </div>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div class="mobile-menu-wrap">
      <ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link mobile-menu__link-curent">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Favorite</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">Read</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- ________________________________________ -->
<div>
  <form action="submit" id="searchForm">
    <input type="text" name="search" id="inputrequest" placeholder="Search" />
  </form>
</div>

<div id="main-page" class="main-page"></div>
