<main class="container">
  <ul class="read">
    <li>
      <div class="read-title">
        <h2 class="read-date">First date 01/03/23</h2>
        <div class="read-arrow"></div>
      </div>
      <ul class="read-gallery">
        <li>
          <div class="news-card news-card__border">
            <img src="./images/asia.png" alt="заглушка" />
            <div class="news-card__info">
              <!-- <div class="news-card__category">${section}</div>
              <button
                class="news-card__favorite-btn ${ isFavorite ? 'active' : '' }"
                data-news-id="${id}"
              >
                ${isFavorite ? 'Remove from Favorite' : 'Add to Favorite'}
              </button>
              <h2 class="news-card__title">${title}</h2>
              <p class="news-card__description">
                ${ abstract.length > 100 ? abstract.substring(0, 100) + '...' :
                abstract }
              </p>
              <div class="news-card__date-div">
                <div class="news-card__date">
                  ${new Date( published_date ).toLocaleDateString()}
                </div>
                <a class="news-card__read-more" href="${url}" target="_blank"
                  >Read more</a
                >
              </div> -->
            </div>
          </div>
        </li>
        <li>
          <div class="news-card news-card__border">
            <img src="./images/asia.png" alt="заглушка" />
          </div>
        </li>
        <li>
          <div class="news-card news-card__border">
            <img src="./images/asia.png" alt="заглушка" />
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="read-title">
        <h2 class="read-date">Second date 28/02/23</h2>
        <div class="read-arrow"></div>
      </div>
      <ul class="read-gallery">
        <li>
          <div class="news-card news-card__border">
            <img src="./images/asia.png" alt="заглушка" />
          </div>
        </li>
        <li>
          <div class="news-card news-card__border">
            <img src="./images/asia.png" alt="заглушка" />
          </div>
        </li>
      </ul>
    </li>
  </ul>
</main>
<script src="./js/read-open-hide.js" type="module"></script>
